.title {
    font-family: "Sawarabi Mincho";
    font-size: 30px;
    text-align: center;
}

form {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 300px;
}

.content {
    margin:0 auto;
    width: 70%;
    max-width: 300px;
}

.input-group{
    margin:10px 0px 10px 0px;
}

.btn_disable{
     pointer-events: none; 
     opacity: 50%;
}